services:
  orthanc-a:
    image: orthancteam/orthanc
    ports: ["4242:4242", "8042:8042"]
    volumes: ["storage-a:/var/lib/orthanc/db/"]
    environment:
      VERBOSE_STARTUP: "true"
      ORTHANC_JSON: |
        {
          "Name": "Orthanc A",
          "DicomAet": "ORTHANCA",
          "AuthenticationEnabled": false,
          "DicomModalities": {
            "b" : {
                    "AET" : "ORTHANCB",
                    "Port" : 4242,
                    "Host" : "orthanc-b",
                    "RetrieveMethod": "C-MOVE"
                  }
          },
          "UnknownSopClassAccepted": false
        }
      # "AcceptedSopClasses" : [
      #   "1.3.12.2.1107.5.9.1",  // allow one custom SOP Class
      #   "1.2.840.*"             // still allow default SOP Classes
      # ]

  orthanc-b:
    image: orthancteam/orthanc
    ports: ["4243:4242", "8043:8042"]
    volumes: ["storage-b:/var/lib/orthanc/db/"]
    environment:
      ORTHANC_JSON: |
        {
          "Name": "Orthanc B",
          "DicomAet": "ORTHANCB",
          "AuthenticationEnabled": false,
          "DicomModalities": {
            "a": ["ORTHANCA", "orthanc-a", 4242],
            "b": ["ORTHANCB", "orthanc-b", 4242],
            "c": ["ORTHANCC", "orthanc-c", 4242]
          }
        }

  orthanc-c:
    image: orthancteam/orthanc
    ports: ["4244:4242", "8044:8042"]
    volumes: ["storage-c:/var/lib/orthanc/db/"]
    environment:
      ORTHANC_JSON: |
        {
          "Name": "Orthanc C",
          "DicomAet": "ORTHANCC",
          "AuthenticationEnabled": false,
          "DicomModalities": {
            "a": ["ORTHANCA", "orthanc-a", 4242],
            "b": ["ORTHANCB", "orthanc-b", 4242],
            "c": ["ORTHANCC", "orthanc-c", 4242]
          }
        }

volumes:
  storage-a:
  storage-b:
  storage-c:
