services:

  orthanc:
    image: orthancteam/orthanc-pre-release:master
    ports: ["8042:8042"]
    volumes: 
      - "orthanc-storage:/var/lib/orthanc/db"
    restart: unless-stopped
    environment:
      VERBOSE_STARTUP: true
      VERBOSE_ENABLED: true
      ORTHANC_JSON: |
        {
          "AuthenticationEnabled": false,
          "Name": "OE2 with worklists plugin",

          "OrthancExplorer2": {
            "UiOptions": {
              "NewWorklistDefaultTags": {
                "PatientID": {
                    "Required": true
                },
                "PatientBirthDate": {
                },
                "PatientName": {
                    "Required": true,
                    "PatientNameType": "Computed",
                    "ComputedFrom": ["lastName", "firstName"]
                },
                "PatientSex": {
                    "Choices": ["F", "M", "U", "O"]
                },
                "StudyInstanceUID": {
                    "DefaultValue": "$$GENERATE_DICOM_UUID$$",
                    "Editable": false
                },
                "InstitutionName": {
                    "DefaultValue": "My institution"
                },
                "ScheduledProcedureStepSequence": {
                    "DefaultValue": [
                        {
                            "ScheduledProcedureStepStartDate": {
                                "DefaultValue": "$$TODAY$$",
                                "Required": true
                            },
                            "Modality": {
                                "Choices": ["DX", "US"],
                                "DefaultValue": "DX",
                                "Required": true
                            },
                            "ScheduledProcedureStepDescription": {
                            }
                        }
                    ]
                }
              }
            }
          },

          "Worklists": {
            "Enable": true,
            "SaveInOrthancDatabase": true
          }
        }


volumes:
  orthanc-storage:
